# Ignore temporary files or python compiled bytecode
*.py[ocx]
*.log
*.auto
*.pkl

# backup or shelve files
*.bak
*.dat
*.dir

# compiled or config directories
__pycache__/
.vscode/

# vim session files
*.vim

